<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://betoestrada2580.github.io/Retas_Basket/">Control de Retas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Retas_Basket/screens/jugadores/jugadores.html">Jugadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Retas_Basket/screens/equipos/equipos.html">Equipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Retas_Basket/screens/partidos/partidos.html">Partidos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>